.popup__save {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #FFFFFF;
  background-color: #000000;
  width: 378px;
  text-align: center;
  border-radius: 2px;
  transition: 0.3s;
  margin-top: 0;
  padding: 14px 0 14px;
  margin-bottom: 24px;
  margin-top: 0px;
}

.popup__save:hover {
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 565px) {
  .popup__save {
    width: 238px;
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
}