.popup__close {
  padding: 0;
  border: none;
  background: none;
  margin: 0;
  position: absolute;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 656px) {
  .popup__close {
    right: 0;
    top: -30px;
  }
}