.profile__subtitle {
  font-family: "Inter", "Arials", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 0;
}

@media screen and (max-width: 660px) {
  .profile__subtitle {
    line-height: 16.94px;
    font-size: 14px;
  }
}