.profile__subtitle {
  font-family: "Inter", "Arials", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 336px;
  width: 100%;
}

@media screen and (max-width: 703px) {
  .profile__subtitle {
    line-height: 16.94px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
}