.profile__title {
  font-family: "Inter", "Arials", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 703px) {
  .profile__title {
    font-size: 27px;
    line-height: 32.68px;
    text-align: center;
    margin-left: 15px;
  }
}