.profile__title {
  font-family: "Inter", "Arials", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 660px) {
  .profile__title {
    font-size: 27px;
    line-height: 32.68px;
    margin-left: 28px;
  }
}