.popup__form {
  border: none;
  max-width: 368px;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

@media screen and (max-width: 565px) {
  .popup__form {
    margin-left: 22px;
  }
}