.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid #ffffff;
  padding: 0;
  margin-top: 15px;
  transition: 0.3s;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 703px) {
  .profile__edit-button {
    margin-top: 8px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}