.footer {
  max-width: 880px;
  margin-top: 67px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 900px) {
  .footer {
    margin-right: 19px;
    margin-left: 19px;
    margin-bottom: 36px;
    margin-top: 55px;
  }
}