.profile__list {
  width: 336px;
  display: flex;
}

@media screen and (max-width: 703px) {
  .profile__list {
    padding-right: 21px;
    max-width: 282px;
  }

  .profile__list:last-child {
    padding-right: 0;
  }  
}
